In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
data=pd.read_csv("California_Power_Plant.csv")
data.head()

,X,Y,OBJECTID_12_13,Plant_ID,Plant_Name,Plant_Alias,Plant_Label,EIA_ID,MW,Gross_MWh,...,CES30_Percentile,CEC_Jurisdictional_Plant,CEC_Link,Aerial,Elevation,Operation_Job,Property_Tax,Income_Percent,Capacity_Factor,Project_Location
0,-121.921635,38.400098,1870,B0001,Vaca Dixon Battery Storage,Vaca Dixon Solar Station,Vaca Dixon Battery Storage,59256,2.4,0.0,...,61.0,0,NaN,"<a href=""https://earth.google.com/web/@38.4000...",25.624909,NaN,NaN,148.0,0.026184,Neither Low Income Nor Disadvantaged Community
1,-117.559669,34.004651,1871,B0005,Mira Loma BESS A,NaN,Mira Loma - BESS A,60661,10.0,NaN,...,79.0,0,NaN,"<a href=""https://earth.google.com/web/@37.3073...",228.718437,NaN,NaN,132.0,NaN,Disadvantaged Community
2,-117.558969,34.004651,1872,B0006,Mira Loma BESS B,NaN,Mira Loma - BESS B,60661,10.0,NaN,...,79.0,0,NaN,"<a href=""https://earth.google.com/web/@37.3073...",229.237144,NaN,NaN,132.0,NaN,Disadvantaged Community
3,-117.735476,34.094284,1873,B0007,AltaGas Pomona Energy Storage,NaN,Pomona Energy Storage,50300,20.0,21479.0,...,70.0,0,NaN,"<a href=""https://earth.google.com/web/@37.3073...",337.925315,NaN,NaN,84.0,0.108219,Neither Low Income Nor Disadvantaged Community
4,-117.115027,33.124413,1874,B0008,Escondido BESS 1,NaN,Escondido BESS 1,60570,10.0,NaN,...,37.0,0,NaN,"<a href=""https://earth.google.com/web/@37.3073...",204.261751,NaN,NaN,91.0,NaN,Neither Low Income Nor Disadvantaged Community

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1869 entries, 0 to 1868
Data columns (total 53 columns):
X                               1867 non-null float64
Y                               1867 non-null float64
OBJECTID_12_13                  1869 non-null int64
Plant_ID                        1869 non-null object
Plant_Name                      1869 non-null object
Plant_Alias                     1036 non-null object
Plant_Label                     1869 non-null object
EIA_ID                          1451 non-null object
MW                              1861 non-null float64
Gross_MWh                       1565 non-null float64
Net_MWh                         1548 non-null float64
General_Fuel                    1867 non-null object
Status                          1865 non-null object
STEP_License_Status             112 non-null object
Docket_ID                       112 non-null object
STEP_Project_Type               112 non-null object
Street                          1459 non-null object
City                            1867 non-null object
State_                          1868 non-null object
Zip_Code                        1705 non-null float64
Plant_County                    1868 non-null object
Initial_Start_Date              1804 non-null object
Online_Year                     1804 non-null float64
Retire_Date                     175 non-null object
Peaker                          1813 non-null float64
Renewable_Energy                1869 non-null int64
Gen_Count                       1810 non-null float64
RPS_Eligible                    1868 non-null float64
Utility_ID                      1834 non-null float64
Owner_Name                      1867 non-null object
Wind_Resource                   196 non-null object
LRA                             1335 non-null object
Sub_Area                        946 non-null object
Service_Area                    1846 non-null object
Service_Category                1492 non-null object
Caliso_Balancing_Authorities    1845 non-null object
Air_District                    1846 non-null object
Air_Basin                       1846 non-null object
Quad                            1848 non-null object
Senate_District                 1846 non-null object
Assembly_District               1846 non-null object
Congressional_District          1765 non-null object
CES30_PercentileRange           1742 non-null object
CES30_Percentile                1742 non-null float64
CEC_Jurisdictional_Plant        1869 non-null int64
CEC_Link                        109 non-null object
Aerial                          1727 non-null object
Elevation                       1850 non-null float64
Operation_Job                   97 non-null float64
Property_Tax                    96 non-null float64
Income_Percent                  1655 non-null float64
Capacity_Factor                 1548 non-null float64
Project_Location                1589 non-null object
dtypes: float64(17), int64(3), object(33)
memory usage: 774.0+ KB

In [15]:
data.describe()

,X,Y,OBJECTID_12_13,MW,Gross_MWh,Net_MWh,Zip_Code,Online_Year,Peaker,Renewable_Energy,Gen_Count,RPS_Eligible,Utility_ID,CES30_Percentile,CEC_Jurisdictional_Plant,Elevation,Operation_Job,Property_Tax,Income_Percent,Capacity_Factor
count,1867.000000,1867.000000,1869.000000,1861.000000,1.565000e+03,1.548000e+03,1705.000000,1804.000000,1813.000000,1869.000000,1810.000000,1868.000000,1834.000000,1742.000000,1869.000000,1850.000000,97.000000,9.600000e+01,1655.000000,1548.000000
mean,-119.340196,36.055487,2804.000000,53.342080,1.553444e+05,1.516829e+05,93327.909091,1996.406874,0.047435,0.747459,1.565193,0.733405,36160.496183,54.454650,0.059925,354.264552,14.443299,2.137566e+06,98.374018,0.274762
std,2.132029,2.200451,539.678145,171.319776,7.152981e+05,7.081998e+05,4382.341860,23.989568,0.212627,0.434586,1.430306,0.442297,140341.125621,25.608795,0.237412,425.146056,15.545611,8.210980e+06,46.746438,0.204685
min,-124.208602,32.549464,1870.000000,0.000000,-3.650000e+02,0.000000e+00,0.000000,1900.000000,0.000000,0.000000,1.000000,0.000000,590.000000,2.000000,0.000000,-70.894064,0.000000,0.000000e+00,17.000000,0.000000
25%,-121.334775,34.106641,2337.000000,1.500000,2.277000e+03,2.335750e+03,92262.000000,1986.000000,0.000000,0.000000,1.000000,0.000000,14328.000000,33.000000,0.000000,48.139326,4.000000,0.000000e+00,66.000000,0.170697
50%,-119.116422,35.547148,2804.000000,6.800000,1.087100e+04,1.112450e+04,93516.000000,2009.000000,0.000000,1.000000,1.000000,1.000000,14328.000000,56.000000,0.000000,168.850171,10.000000,5.698700e+04,90.000000,0.215678
75%,-117.812250,37.829574,3271.000000,33.000000,6.621200e+04,6.457950e+04,95051.000000,2013.000000,0.000000,1.000000,1.000000,1.000000,17609.000000,77.000000,0.000000,592.432614,21.000000,1.163819e+06,116.000000,0.323959
max,-105.461670,41.985593,3738.000000,2323.000000,1.829205e+07,1.826780e+07,96148.000000,2019.000000,1.000000,1.000000,16.000000,1.000000,999999.000000,100.000000,1.000000,2387.291042,90.000000,7.419641e+07,404.000000,1.539276

In [18]:
data=data.dropna(axis=0,subset=['Project_Location'])

In [19]:
data.shape

(1589, 53)

In [20]:
#data.columns
new=data.drop(['X', 'Y', 'OBJECTID_12_13', 'Plant_ID', 'Plant_Name', 'Plant_Alias',
       'Plant_Label', 'EIA_ID','STEP_License_Status', 'Docket_ID', 'STEP_Project_Type',
       'Street', 'City', 'State_', 'Zip_Code', 'Plant_County',
       'Initial_Start_Date', 'Online_Year', 'Retire_Date','Renewable_Energy', 'Utility_ID',
       'Owner_Name'
               , 'Wind_Resource', 'Service_Area',
       'Service_Category', 'Caliso_Balancing_Authorities', 'Air_District',
       'Assembly_District',
       'CEC_Link', 'Aerial',
       'Operation_Job',
       'Project_Location'],axis=1)

In [21]:
new.head()

,MW,Gross_MWh,Net_MWh,General_Fuel,Status,Peaker,Gen_Count,RPS_Eligible,LRA,Sub_Area,...,Quad,Senate_District,Congressional_District,CES30_PercentileRange,CES30_Percentile,CEC_Jurisdictional_Plant,Elevation,Property_Tax,Income_Percent,Capacity_Factor
0,2.4,0.0,552.0,Battery,Operating,0.0,1.0,0.0,NaN,NaN,...,Allendale,Senate District 3,Congressional District 3,60-65%,61.0,0,25.624909,NaN,148.0,0.026184
1,10.0,NaN,NaN,Battery,Operating,0.0,1.0,0.0,LA Basin,NaN,...,Guasti,Senate District 20,Congressional District 35,75-80%,79.0,0,228.718437,NaN,132.0,NaN
2,10.0,NaN,NaN,Battery,Operating,0.0,1.0,0.0,LA Basin,NaN,...,Guasti,Senate District 20,Congressional District 35,75-80%,79.0,0,229.237144,NaN,132.0,NaN
3,20.0,21479.0,19012.0,Battery,Operating,0.0,1.0,0.0,LA Basin,Western LA Basin,...,Ontario,Senate District 20,Congressional District 35,70-75%,70.0,0,337.925315,NaN,84.0,0.108219
4,10.0,NaN,NaN,Battery,Operating,0.0,1.0,0.0,San Diego/ IV Area,San Diego,...,Escondido,Senate District 38,Congressional District 50,35-40%,37.0,0,204.261751,NaN,91.0,NaN

In [22]:
new.shape

(1589, 21)

In [23]:
new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1589 entries, 0 to 1867
Data columns (total 21 columns):
MW                          1589 non-null float64
Gross_MWh                   1339 non-null float64
Net_MWh                     1324 non-null float64
General_Fuel                1589 non-null object
Status                      1589 non-null object
Peaker                      1548 non-null float64
Gen_Count                   1548 non-null float64
RPS_Eligible                1589 non-null float64
LRA                         1140 non-null object
Sub_Area                    822 non-null object
Air_Basin                   1589 non-null object
Quad                        1589 non-null object
Senate_District             1589 non-null object
Congressional_District      1589 non-null object
CES30_PercentileRange       1589 non-null object
CES30_Percentile            1589 non-null float64
CEC_Jurisdictional_Plant    1589 non-null int64
Elevation                   1589 non-null float64
Property_Tax                88 non-null float64
Income_Percent              1589 non-null float64
Capacity_Factor             1324 non-null float64
dtypes: float64(11), int64(1), object(9)
memory usage: 273.1+ KB

In [24]:
new.isnull().sum()

MW                             0
Gross_MWh                    250
Net_MWh                      265
General_Fuel                   0
Status                         0
Peaker                        41
Gen_Count                     41
RPS_Eligible                   0
LRA                          449
Sub_Area                     767
Air_Basin                      0
Quad                           0
Senate_District                0
Congressional_District         0
CES30_PercentileRange          0
CES30_Percentile               0
CEC_Jurisdictional_Plant       0
Elevation                      0
Property_Tax                1501
Income_Percent                 0
Capacity_Factor              265
dtype: int64

In [25]:
cat_col=new.select_dtypes(include="object").columns

In [26]:
num_col=new.select_dtypes(exclude="object").columns

In [27]:
for i in cat_col:
    new[i].fillna(new[i].mode()[0],inplace=True)

In [28]:
for i in num_col:
    new[i].fillna(new[i].mean(),inplace=True)

In [29]:
new.isnull().sum()

MW                          0
Gross_MWh                   0
Net_MWh                     0
General_Fuel                0
Status                      0
Peaker                      0
Gen_Count                   0
RPS_Eligible                0
LRA                         0
Sub_Area                    0
Air_Basin                   0
Quad                        0
Senate_District             0
Congressional_District      0
CES30_PercentileRange       0
CES30_Percentile            0
CEC_Jurisdictional_Plant    0
Elevation                   0
Property_Tax                0
Income_Percent              0
Capacity_Factor             0
dtype: int64

In [30]:
new.shape

(1589, 21)

In [31]:
new=pd.get_dummies(new)

In [32]:
new.shape

(1589, 798)

In [33]:
from sklearn.preprocessing import StandardScaler

sc=StandardScaler()

new=pd.DataFrame(sc.fit_transform(new),columns=new.columns)

C:\Users\maganti\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\maganti\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [34]:
new.shape

(1589, 798)

In [35]:
new.head()

,MW,Gross_MWh,Net_MWh,Peaker,Gen_Count,RPS_Eligible,CES30_Percentile,CEC_Jurisdictional_Plant,Elevation,Property_Tax,...,CES30_PercentileRange_50-55%,CES30_PercentileRange_55-60%,CES30_PercentileRange_60-65%,CES30_PercentileRange_65-70%,CES30_PercentileRange_70-75%,CES30_PercentileRange_75-80%,CES30_PercentileRange_80-85%,CES30_PercentileRange_85-90%,CES30_PercentileRange_90-95%,CES30_PercentileRange_95-100% (highest scores)
0,-0.319846,-2.389286e-01,-0.234110,-0.234952,-0.411144,-1.631346,0.252193,-0.259151,-0.770095,0.0,...,-0.214669,-0.263275,4.033824,-0.178377,-0.309616,-0.318085,-0.240671,-0.245031,-0.174585,-0.21306
1,-0.263243,2.064922e-16,0.000000,-0.234952,-0.411144,-1.631346,0.954348,-0.259151,-0.298294,0.0,...,-0.214669,-0.263275,-0.247904,-0.178377,-0.309616,3.143813,-0.240671,-0.245031,-0.174585,-0.21306
2,-0.263243,2.064922e-16,0.000000,-0.234952,-0.411144,-1.631346,0.954348,-0.259151,-0.297089,0.0,...,-0.214669,-0.263275,-0.247904,-0.178377,-0.309616,3.143813,-0.240671,-0.245031,-0.174585,-0.21306
3,-0.188765,-2.008302e-01,-0.201028,-0.234952,-0.411144,-1.631346,0.603271,-0.259151,-0.044598,0.0,...,-0.214669,-0.263275,-0.247904,-0.178377,3.229807,-0.318085,-0.240671,-0.245031,-0.174585,-0.21306
4,-0.263243,2.064922e-16,0.000000,-0.234952,-0.411144,-1.631346,-0.684013,-0.259151,-0.355109,0.0,...,-0.214669,-0.263275,-0.247904,-0.178377,-0.309616,-0.318085,-0.240671,-0.245031,-0.174585,-0.21306

In [37]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import zscore
from sklearn.model_selection import train_test_split
from sklearn import metrics
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [38]:
x=new
y=data['Project_Location']

x.head()
x.shape

(1589, 798)

In [39]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=100)

In [40]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [41]:
knn=KNeighborsClassifier()

knn.fit(xtrain,ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [42]:
ypred=knn.predict(xtest)

In [45]:
print('Accuaracy score for KNeigborsClassifier :',accuracy_score(ytest,ypred)*100)
print("\n")
print(confusion_matrix(ytest,ypred))

Accuaracy score for KNeigborsClassifier : 75.68134171907757


[[ 40   0   2  34]
 [  0  11   2  39]
 [  1   0  12  25]
 [  9   1   3 298]]

In [44]:
print(classification_report(ytest,ypred))

                                                precision    recall  f1-score   support

                       Disadvantaged Community       0.80      0.53      0.63        76
                                    Low Income       0.92      0.21      0.34        52
        Low Income and Disadvantaged Community       0.63      0.32      0.42        38
Neither Low Income Nor Disadvantaged Community       0.75      0.96      0.84       311

                                     micro avg       0.76      0.76      0.76       477
                                     macro avg       0.78      0.50      0.56       477
                                  weighted avg       0.77      0.76      0.72       477

# Decisoin tree Classifier

In [46]:
from sklearn.tree import DecisionTreeClassifier

In [47]:
x=new
y=data['Project_Location']

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=100)

# D.Tree with criteria - 'gini'

In [50]:
dt=DecisionTreeClassifier(criterion='gini')

In [51]:
dt.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [52]:
ypred=dt.predict(xtest)

In [53]:
print('Accuaracy score for Decison Tree criteria-gini :',accuracy_score(ytest,ypred)*100)

Accuaracy score for Decison Tree criteria-gini : 100.0

# D.Tree with criteria - 'entropy'

In [54]:
dt=DecisionTreeClassifier(criterion='entropy')

In [55]:
dt.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [56]:
ypred=dt.predict(xtest)

In [57]:
print('Accuaracy score for Decison Tree criteria-Entropy :',accuracy_score(ytest,ypred)*100)

Accuaracy score for Decison Tree criteria-Entropy : 100.0

# Naive Bayes

In [59]:
from sklearn.naive_bayes import GaussianNB

In [60]:
x=new
y=data['Project_Location']

In [61]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=100)

In [62]:
model = GaussianNB()
model.fit(xtrain, ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [63]:
ypred=model.predict(xtest)

In [65]:
print(metrics.classification_report(ytest,ypred))
print('\n')
print('Accuaracy score for Naive Bayes-gaussian',metrics.accuracy_score(ytest,ypred)*100)

                                                precision    recall  f1-score   support

                       Disadvantaged Community       0.76      0.54      0.63        76
                                    Low Income       0.51      0.71      0.59        52
        Low Income and Disadvantaged Community       0.49      0.87      0.62        38
Neither Low Income Nor Disadvantaged Community       0.94      0.85      0.89       311

                                     micro avg       0.79      0.79      0.79       477
                                     macro avg       0.67      0.74      0.68       477
                                  weighted avg       0.83      0.79      0.80       477



Accuaracy score for Naive Bayes-gaussian 78.82599580712788